*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Inter", sans-serif;
    background-color: #000000;
}

.About{
    background-color: #FFF7ED;
}

.container{
    width: 95%;
    margin: 0 auto;
}

header{
    background: #FFF7ED;
    padding: 1em 0;
}

.headerdiv{
    display: flex;
    justify-content: space-between;
}
.headerdiv > a{
    color: black;
    text-decoration: none;
}

header h1{
    padding: 1em 0;
    font-size: 1.585rem;
    font-weight: 900;
}
nav {
    display: flex;
}
nav li{
    list-style: none;
    padding: 0 3em 0 0; 
    margin: auto 0;
}
nav li:last-child{
    padding-right: 0;
}
nav a{
    color: #4D4D4D;
    text-decoration: none;
    font-size: 1.125rem;
    font-weight: 700;
}

nav a:hover {
    text-decoration: underline;
    font-weight: 900;
}
.status{
    flex-basis: 10%;
    padding: 0.2em 1.5em;
    border: none;
    font-size: 1.3rem;
    border-radius: 5px;
    background-color: #FFEAD0;
}
.currentpage {
    border-bottom: solid 2px black;
}
.currentpage:hover{
    text-decoration: none;
    font-weight: 700;
} 
.simplestatus:hover, .Simple, .selectedsimple{
    background-color: #E17654;
    color: #FFEAD0;
}
.luxurystatus:hover, .Luxury, .selectedluxury{
    color: #FFEAD0;
    background-color: #000000;
}
.ruggedstatus:hover, .Rugged, .selectedrugged{
    color: #FFEAD0;
    background-color: #115E59;
}
.homeinfo {
    background-image:  url(/images/image\ 54.png);
    background-color: #00000075;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-size: cover;
    color: white;
}
.login {
    text-align: center;
    padding: 2em 0 4.5em;
}
.signing{
    text-align: center;
    padding: 2em 0;
}
.info {
    width: 90%;
    max-width: 700px;
    margin: 0 auto;
    padding: 0 0 4.5em;
}
.inform {
    width: 90%;
    max-width: 700px;
    margin: 0 auto;
    padding: 4.5em 0;
}

input, select{
    width: 100%;
    padding: 1em;
    margin: 0;
    border: solid 1px grey;
    font-size: 1.125rem;
}

h2{
    font-size: 2rem;
    font-weight: 800;
}
section p{
    font-size: 1.125rem;
}
.introp{
    padding: 0.5em 0 2em;
}

.explore1{
    width: 100%;
    font-size: 1.125rem;
    padding: 1em 0;
    border-radius: 5px;
    border: none;
    text-align: center;
    background-color: rgba(255, 140, 56, 1);
    margin: 1em 0;
    color: white;
    font-weight: bold;
}

.return {
    background-color: black;
}

footer{
    background-color: #252525;
    padding: 2em;
    text-align: center;
    font-weight: 500;
    color: #AAAAAA;
    font-size: 1.125rem;
    text-transform: uppercase;
}

.artimg{
    width: 100%;
}

article{
    font-weight: 500;
}

 .aboutimg{
    max-height: 400px;
    width: 100%;
    object-fit: cover;
    padding-bottom: 2em;
 }
 .extra {
    padding-bottom: 1em;
 }

 aside{
    padding: 2em;
    margin: 2em 0;
    border-radius: 5px;
    background-color: #FFCC8D;
 }

 aside h2{
    font-size: 2rem;
    padding: 0;
 }

 .explore2{
    background-color: black;
    margin: 1.5em 0;
    padding: 1em;
    border-radius: 10px;
 }

.explore2 a{
    text-decoration: none;
    color: white;
    font-size: 1.125rem;
    padding: 0 0.5em;
}
.vandiv{
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 2em 0;
}
.vanimage{
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}
.vanname{
    font-size: 2rem;
    font-weight: 700;
    padding-bottom: 0.3em;
}
.back a{
    color: #000000;
    text-underline-offset: 2px;
}
.rate{
    font-size: 1.5rem;
    font-weight: 500;
    padding-bottom: 1em;
}
.prodprice{
    font-size: 1.5rem;
    font-weight: bold;
}
.options{
    display: flex;
    justify-content: space-between;
    padding: 2em 0;
}

.clear{
    border: none;
    background: none;
    font-size: 1.125rem;
    text-decoration: underline;
    text-underline-offset: 2px;
}

.vanlist {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 2em;
}
.vanlistitem{
    margin-bottom: 2em;
    flex-basis: 45%;
}
.vanlistitem a, .vantemplate a{
    text-decoration: none;
    color: #000000;
}

.vanlistitem h3{
    font-size: 1.2rem;
    font-weight: 600;
}
.vanlistimg {
    border-radius: 10px;
    min-height: 350px;
    width: 100%;
}
.descbox{
    display: flex;
    margin-top: 0.5em;
    justify-content: space-between;
}

.namestatus{
    flex-basis: 75%;
}
.price{
    font-size: 1.2rem;
}
.statusbox {
    margin-top: 0.5em;
    border-radius: 5px;
    padding: 0.5em 1em;
    border: none;
    /* background-color: orange; */
    color: #FFF7ED;
    font-size: 1.125rem;
}

.createnew {
    color: #FF8E3C;
    text-decoration: none;
}

/* .Rugged, .ruggedselected{
    background-color: #115E59;
}

.Luxury, .luxuryselected{
    background-color: #000000;
} */
@media (max-width:560px) and (min-width:400px){
    .status, .statusbox {
        font-size: 90%;
    }
    .clear, nav a{
        font-size: 90%;
    }
    .price{
        font-size: 100%;
    }
    .vanlistitem h3, .welcome, .details h2, .prodprice, .rate{
        font-size: 100%;
    }
}
@media (max-width:400px) {
    .status, .statusbox, .vanitem p{
        font-size: 60%;
    }
    .clear, nav a{
        font-size: 90%;
    }
    .price{
        font-size: 80%;
    }
    .vanlistitem h3, .details h2, .prodprice, .rate{
        font-size: 80%;
    }
    nav li{
        padding: 0 2em 0 0; 
    }
    .listvanimage {
        width: 130px;
        height: 120px;
    }
}


/* Host style */
.dashboard {
    background-color: #FFEAD0;
    padding: 1em 0 0;
}
.dashboardnav{
    margin: 0 0 1em;
    padding: 1.5em 0;
}
.welcome{
    font-weight: 700;
}
.income {
    padding: 1.5em 0;
}
.income a{
    color: black;
}
.star{
    color: #FF8E3C;
}
.review{
    margin-top: 1em;
    padding: 2em 0;
    background-color: #FFDDB2;
    margin-bottom: 2em;
}
.review p:first-of-type{
    font-weight: bold;
}
.total{
    color: #B19E86;
    font-weight: normal;
}
.list{
    margin:0.5em 0 1.5em;
    font-size: 1.5rem;
    font-weight: bold;
}
.view{
    padding-top: 1em;
}
.vantemplate, .vanlisted{
    display: flex;
    justify-content: space-between;
}
.vantemplate div{
    /* padding: 1em; */
    margin: auto 0;
    padding: 0 1em;
}
.listvanimage {
    height: 200px;
    width: 190px;
    border-radius: 5px;
    padding-right: 1em;
}
.listedvans ul{
    padding: 0;
}
.listedvans li{
    background-color: white;
    margin: 0 0 1em;
    padding: 1.5em;
}

.listedvans a, .vanlisted a, .viewall{
    color: black;
    text-decoration: none;
}
.edit {
    margin: auto 0;
    margin-top: 1.5em;
}

.listsect{
    margin: 1em 0 3em;
}

.hostvan{
    margin: 2em;
    padding: 1em;
    background-color: white;
}

.hostdesc{
    display: flex;
}

.details{
    margin: auto 0;
}
.details h2{
    font-weight: 600;
    padding: 0.4em 0;
}

.specs p{
    padding: 1em 0;
}
.specs p:first-child{
    padding-top: -1em;
}
.specs span{
    font-weight: bold;
}
.pricing {
    padding-top: 2em;
}
.photos {
    width: 120px;
    height: 120px;
    border-radius: 10px;
}
.yourlistimage {
    width: 80px;
    height: 80px;
    border-radius: 10px;
}
.plus{
    cursor: pointer;
    padding: 0 1em;
    font-size: 2rem;
}
.hidden{
    display: none;
}
.logout{
    text-align: right;
    cursor: pointer;
}