<div class="hostdesc">
    <img src="{{%image%}}" alt="VANIMAGE" class="listvanimage">
    <div class="details">
        <button class="Simple statusbox">{{%status%}}</button>
        <h2>{{%name%}}</h2>
        <p class="rate"><span class="prodprice">${{%price%}}</span>/day</p>
    </div>
</div>

<nav class="dashboardnav">
    <li><a href="/host/vans/{{%id%}}" >Details</a></li>
    <li><a href="/host/vans/{{%id%}}/pricing">Pricing</a></li>
    <li><a href="/host/vans/{{%id%}}/photos" class="currentpage">Photos</a></li>
</nav>

<img src="{{%image%}}" alt="VANIMAGE" class="photos">

