<p class="back">&larr; <a href="/vans">Back to all vans</a></p>
            <div class="vandiv">
                <img src="{{%image%}}" alt="vanimage" class="vanimage">
            </div>
            <button class="{{%status%}} statusbox">{{%status%}}</button>
            <h2 class="vanname">{{%name%}}</h2>
            <p class="rate"><span class="prodprice">${{%price%}}</span>/day</p>
            <p>{{%desc%}}</p>
            <a href="/signin"><button class="explore1">Rent this van</button></a>