<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/template/style.css">
    <title>Vanlife</title>
</head>
<body class="About">
    <header>
        <div class="container">
            <div class="headerdiv">
                <a href="/home"><h1>#VANLIFE</h1></a>
                <nav>
                    <li><a href="">Host</a></li>
                    <li><a href="about">About</a></li>
                    <li><a href="vans">Vans</a></li>
                    <li><img src="/images/Icon.png" alt="user"></li>
                </nav>
            </div>
        </div>
    </header>
    <section>
        <div class="info signin">
            <h2>Sign in to your account</h2>
            <input type="text" placeholder="Email address"><br>
            <input type="text" placeholder="Password">
            <a href="vans"><button class="explore1">Sign in</button></a>
            <p>Don't have an account? Create one now</p>
        </div>  
    </section>
    <footer>
        <p>&copy; 2022 #vanlife</p>
    </footer>
</body>
</html>